# first ignore all files
*

# then add back the ONLY files that we want to commit
!.gitignore
!.dockerignore
!*/
!*.go
!go.mod
!go.sum
!Dockerfile
!Makefile
!*.sample
!*.md

# Vendor & dep-related
vendor/
pkg/

# Editor settings
.glide/
.idea/
*.iml
.vscode/

# logs
log*/*

# temporary files
tmp/
